apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn-configs
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:mwimpelberg28/argocd.git
    targetRevision: HEAD
    path: longhorn/configs
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
