apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system

  source:
    repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: 1.7.2 # or the version you want
    helm:
      releaseName: longhorn
      values: |
        preUpgradeChecker:
          jobEnabled: false


  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

